/* Stile del contenitore principale */
.categories-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    min-height: 100%;
    min-width: 140vh;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    background-color: white;
    
  }
  
  /* Stile dell'elenco delle categorie */
  .categories-list {
    list-style-type: none;
    padding: 0;
    padding-bottom: 30px;
    
    
  }
  
  /* Stile di ogni categoria nell'elenco */
  .category-item {
    
  
    margin: 5px 0;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    width: 250px; /* Modifica la larghezza a seconda delle tue preferenze */
  }
  
  /* Stile dei pulsanti */
  .delete-button {
    background-color: #070707;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    cursor: pointer;
   margin-left: 15px;
  }
  
  .delete-button:hover {
    background-color: #ff3333;
  }
  
  /* Stile dei titoli */
  .category-title {
    font-size: 1.2em;
    margin: 0;
    text-transform: capitalize;
    
  }
  .categories-table td {
    font-size: 1.2em;
    margin: 0;
    text-transform: capitalize;
  }
  


.edit-button {
  background-color: #060606; /* Colore verde */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  margin-left: 0px;
  cursor: pointer;
  margin-left: 15px;
}

.edit-button:hover {
  background-color:  #ff8833;
}
.go {
    padding: 50px 50px;
    margin-left: 10px;
    cursor: pointer;
    
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}


/* Aggiungi stili per la tabella */
.categories-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .categories-table th, .categories-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .categories-table th {
    background-color: #f2f2f2;
  }
  

  .listSidebar {
    width: 20%;
    margin: 0;
    height: fit-content;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    
  }
  .product-list {
  display: flex;
  align-items: flex-start;
  background-color: #f1f1f1;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  overflow: hidden;
  margin-top: -1rem !important;
  padding: 0;
}


/* Stili per schermi fino a 599px */
@media (max-width: 599px) {
    .categories-container {
      min-width: 100%; /* Usa l'intera larghezza dello schermo */
      padding: 10px; /* Riduci il padding */
    }
  
    .category-item {
      flex-direction: column; /* Organizza gli elementi in colonna */
      align-items: center;
      width: auto; /* Adatta la larghezza */
    }
  
    .listSidebar {
      width: 100%; /* Sidebar a schermo intero */
      margin-bottom: 20px; /* Aggiungi margine sotto la sidebar */
    }
  
    .product-list {
      flex-direction: column; /* Organizza in colonna */
    }
  
    /* Personalizza ulteriormente i tuoi stili qui per adattarli a schermi più piccoli */
  }

  
/* Stili per smartphone */
@media (max-width: 768px) {
    .categories-container {
      min-width: 100%; /* Usa l'intera larghezza dello schermo */
      padding: 10px; /* Riduci il padding */
    }
  
    .category-item {
      flex-direction: column; /* Organizza gli elementi in colonna */
      align-items: center;
      width: auto; /* Adatta la larghezza */
    }
  
    .listSidebar {
      width: 100%; /* Sidebar a schermo intero */
      margin-bottom: 20px; /* Aggiungi margine sotto la sidebar */
    }
  
    .product-list {
      flex-direction: column; /* Organizza in colonna */
    }
  
    /* Aggiungi altre regole CSS qui per personalizzare l'aspetto su smartphone */
  }
  

  /* Stili per tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    .categories-container {
      min-width: 70%; /* Riduci la larghezza per adattarsi meglio ai tablet */
      padding: 15px; /* Aggiusta il padding se necessario */
    }
  
    .category-item {
      flex-direction: row; /* Mantieni gli elementi in riga */
      width: 100%; /* Adatta la larghezza */
      padding: 10px; /* Riduci il padding */
    }
  
    .listSidebar {
      width: 25%; /* Adegua la larghezza della sidebar per i tablet */
      margin-bottom: 0; /* Rimuovi il margine aggiuntivo se presente */
    }
  
    .product-list {
      flex-direction: row; /* Mantieni il layout in riga */
      gap: 10px; /* Aggiungi un po' di spazio tra la sidebar e il contenuto principale */
    }
  
    .edit-button, .delete-button {
      padding: 8px 12px; /* Aggiusta le dimensioni dei bottoni */
    }
  
    /* Altre personalizzazioni per tablet */
  }
  
  .iconbtn {
    font-size: 20px;
   color: #fff;
   background-color: #414141;
   padding: 5px;
   border-radius: 5px;
   cursor: pointer;
   margin-left: 0.5rem;
 }
 .iconbtn:hover{
    background-color: #ed1c24;
   
   }