.containers {
  width: 80%;
  margin: 100px auto 0 auto;  /* 50px di margine in alto, auto per il centro, 0 per il basso */
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background-color: #f5f5f5;
}


.product-section,
.success-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.product, .success-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.description, .success-description {
  margin-top: 10px;
  text-align: center;
}

.checkout-form, .portal-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.checkout-button, .portal-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.checkout-button:hover, .portal-button:hover {
  background-color: #0056b3;
}
